.box{
  border-width:5px;
  border-color:black;
  border-style:solid;
  margin-top:5px;
}

h1 {
    background-color: #03d6f1;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: monospace;
    border-width: 5px;
    border-color: lavender;
    border-style: solid;
    }
